################################
# Keil MDK 编译产生的垃圾文件
################################
# 忽略编译产生的中间文件（对应你截图2中的文件夹内容）
*.o
*.d
*.crf
*.map
*.dep
*.axf
*.htm
*.lnp
*.sct
*.lst
*.hex
*.ier
*.inf

# 忽略 Keil 的调试与布局配置（对应你截图3中的部分文件）
# .uvguix.* 是你的窗口布局，必须忽略，否则每次点开Keil都会变
*.uvguix.*
*.uvgui.*

# .uvoptx 是调试器配置（断点、Watch窗口等）
# 建议忽略。如果你非要保存断点信息，可以将下面这行删掉
*.uvoptx

# 忽略备份文件
*.bak

################################
# 特殊文件夹
################################
# 忽略 DebugConfig 文件夹（截图3中有显示）
DebugConfig/

#忽略生成的文件
Objects/

# 忽略 RTE 文件夹（截图3中有显示）
# STM32CubeMX生成的工程通常不需要RTE配置，这是Keil自动生成的
RTE/

# 忽略 J-Link 生成的日志（如果有）
JLinkLog.txt

################################
# 必须保留的文件（不需要写在这里，只是提醒你）
# *.uvprojx  <-- 这个千万不能忽略，这是工程本体！
# *.ioc      <-- CubeMX 配置文件，必须保留！
################################